* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mostra {
    display: flex;
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messaggio, #kmnotnumber, #kmnotpositive, #etanotnumber, #etanotpositive{
    display: none;
}

#messaggio.visibile {
    display: block;
    color: blue;
}

#kmnotnumber.visibile, #kmnotpositive.visibile, #etanotnumber.visibile, #etanotpositive.visibile{
    display: block;
    color: red;
}
